# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown

* *saikiran*

![image](https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rabbit-breeds-american-white-1553635287.jpg?crop=0.976xw:0.651xh;0.0242xw,0.291xh&resize=480:*)

![image]()

* [crt]
  [crt]:https://sites.google.com/view/crt-gitam-batch-1/home

In [3]:
print("hello world")
print("hi")

hello world
hi

In [4]:
a=10 # single variable assignment
a=b=c=1
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [5]:
a="python"
type(a)

str

In [7]:
a=10.5
type(a)

float

In [8]:
a=10
b=10.5
print(type(a))
type(a)
type(b)

<class 'int'>

float

In [10]:
name="saikiran"
age="20"
print("my name is",name,"my age is",age)

my name is saikiran my age is 20

In [12]:
input("enter a string")
type(a)

enter a string2344

int

In [13]:
c=int(input("entera number"))
type(c)

entera number99

int

In [14]:
d=float(input("entera number"))
type(d)

entera number77

float

In [15]:
a=int(input("enter a number"))
c=int(input("enter a number"))
d=a+c
print(d);

enter a number23
enter a number62
85

In [16]:
x=10
print(x)
type(x)

10

int

In [17]:
y=1.2
print(y)
type(y)

1.2

float

In [18]:
a=1+3j
print(a)
type(a)

(1+3j)

complex

In [19]:
y=complex(2,1)
y

(2+1j)

In [21]:
a=5
b=6
a<b

True

In [23]:
4/2

2.0

In [24]:
4*2

8

In [25]:
4%2

0

In [26]:
4**2

16

In [28]:
a=10
b=20
print("addition is",a+b)
print("subtartcion is",a-b)
print("multiplication is",a*b)

addition is 30
subtartcion is -10
multiplication is 200

In [29]:
-12/5

-2.4

In [30]:
-12//5

-3

In [31]:
x=2
y=2
print(x>=5 and x<10)
print(x>=5 or x<=10)
print(not(x))

False
True
False

In [33]:
a=-40
if a>0:
    print("postive")
else:
    print("negative")

negative

In [36]:
a=0
if a>0:
    print("postive")
elif a<0:
    print("negative")
else:
    print("zero")

zero